<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.njupt.qmj.tomatotodo">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/TomatoTodoMain">
        <service
            android:name=".Service.CountdownService"
            android:enabled="true"
            android:exported="true"></service>


        <activity android:name=".Activity.EditActivity"/>
        <activity android:name=".Activity.CalendarActivity"/>

        <activity
            android:name=".Activity.TodoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>